<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php" colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
 displayDetailsOnTestsThatTriggerDeprecations="true"
 displayDetailsOnTestsThatTriggerNotices="true"
 displayDetailsOnTestsThatTriggerWarnings="true"
 displayDetailsOnPhpunitDeprecations="true"
 displayDetailsOnPhpunitNotices="true"
 failOnDeprecation="true"
 failOnNotice="true"
 failOnWarning="true"
 failOnRisky="true"
 failOnPhpunitDeprecation="true"
 failOnPhpunitNotice="true"
 failOnPhpunitWarning="true"
 >
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
    <testsuite name="Dev">
      <directory>tests/Dev</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>performance</group>
    </exclude>
  </groups>
  <php>
    <!-- Due to the size of the library, we cannot run tests under 128MB -->
    <ini name="memory_limit" value="192M" />
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="DTE_ENVIRONMENT" value="testing"/>
  </php>
  <logging/>
  <source>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Support</directory>
      <directory>src/Proxies</directory>
    </exclude>
  </source>
</phpunit>
